:root {
  --cinza: rgba(32, 40, 53, 1);
  --cinza2: rgba(68, 85, 113, 1);
  --branco: rgba(255, 255, 255, 1);
  --amarelo: rgba(255, 170, 17, 1);
}

* {
  margin: 0;
  padding: 0;
  color: white;
  font-family: "Montserrat";
  list-style: none;
  font-style: none;
  text-decoration: none;
}

body {
  background-color: var(--cinza);
  overflow-x: hidden;
}

/* NAV BAR */

nav {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.menu {
  width: 80%;
  display: flex;
  margin: auto;
  margin-right: 5rem;
  gap: 2rem;
  justify-content: right;

  text-transform: uppercase;
  font-family: "Roboto";
  font-weight: 400;
  font-size: 1.5rem;
}

.menu > li {
  content: "";
  position: relative;
  max-width: max-content;
}

.menu > li::before {
  content: "";
  position: absolute;
  width: 100%;
  left: 0px;
  bottom: 0px;
  height: 2px;
  transition: all 0.2s;
}

.menu > li:hover::before {
  content: "";
  background-color: white;
}

span {
  justify-content: left;
}

.logo {
  margin-left: 3rem;
  width: 10rem;
}

/* Header e Hero */

.textHero {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: center;
  padding: 10px;
  margin-top: 30px;
  margin-right: 40px;
}

.textHero > h1 {
  font-size: 2.75rem;
  width: 90%;
  flex-wrap: wrap;
}

.textHero > .btn {
  font-family: "Roboto";
  font-weight: 700;
  color: --branco;
  background-color: var(--cinza2);
  height: 15%;
  font-size: 2rem;
  border-radius: 15px;
  padding: 10px;
  margin-top: 30px;
  margin-right: 40px;
  box-shadow: inset rgba(0, 0, 0, 0.25) 5px 4px 4px;
  border: none;
}

.Hero {
  max-width: 70%;
  display: flex;
  flex-direction: row;
  background-color: var(--amarelo);
  width: 60%;
  height: 480px;
  border-radius: 0px 50px 50px 0px;
  margin-top: 60px;
  margin-bottom: 150px;
  box-shadow: rgba(255, 255, 255, 0.5) 6px 5px 38px;
  gap: 1rem;
}

.Left > img {
  width: 18rem;
  margin: 15px;
  display: flex;
  flex-direction: row;
}

.backgroundHeader {
  z-index: -1;
  position: absolute;
  top: -150px;
  right: 00px;
  filter: blur(40px);
  overflow-x: clip;
}

/* MILESTONE */

.milestoneSection {
  position: relative;
}

.container {
  color: var(--branco);
  background-color: var(--amarelo);
  width: 22rem;
  height: 177px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  padding: 20px;

  font-family: "Roboto";
  font-size: 1.75rem;
  border-radius: 20px;
}

.container > p {
  font-weight: 400;
  margin-top: 1rem;
  font-size: 1.225rem;
}

.boxContainer {
  max-width: 1200px;
  margin: auto;
  position: relative;
  top: -40px;
  display: flex;
  justify-content: space-between;
}

h2 {
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: "Montserrat";
  font-size: 3rem;
  font-weight: 900;
  margin-top: 150px;
  margin-bottom: 30px;
}

.item {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  text-align: left;
  padding: 1rem;
  gap: 12rem;

  font-size: 1.75rem;
  font-family: "Roboto";
}

.item-left {
  width: 40%;
  display: flex;
  flex-direction: column;
  margin-bottom: 6rem;
  margin-top: 6rem;
  margin-left: 27vw;
}
.item-right {
  width: 40%;
  display: flex;
  flex-direction: column;
  margin-bottom: 6rem;
  margin-top: 6rem;
  margin-right: 20vw;
}

h4 {
  font-family: "Roboto";
  font-size: 2rem;
}

.item-left > p {
  font-size: 1.225rem;
  width: 70%;
}
.item-right > p {
  font-size: 1.225rem;
  width: 70%;
}

.HorizontalLine {
  background-color: var(--cinza2);
  width: 7vw;
  height: 7px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.LeftSide {
  position: relative;
  margin-left: 150px;
  margin-top: -25px;
}
.RightSide {
  margin-left: 0px;
  margin-bottom: -25px;
}

.data {
  margin-left: 11.25rem;
}

.VerticalLine {
  border-left: 13px solid var(--amarelo);
  height: 1950px;
  position: absolute;
  left: 50%;
  top: 100;
}

/* FOOTER */

footer {
  height: 335px;
  margin-top: 140px;
  margin-bottom: 10px;
  display: flex;
  justify-content: space-between;
  text-align: left;
  align-items: center;
}

.footerlogo {
  width: 250px;
  align-items: center;
  margin-top: 40px;
}

.footer-left {
  margin-left: 5vw;
}
.footer-mid {
  margin-left: 10vw;
  margin-right: 5vw;
}
.footer-mid > p {
  font-family: "Roboto";
  font-size: 1.25rem;
  font-weight: 400;
  margin-top: 5px;
}
.footer-mid > h5 {
  font-family: "Roboto";
  font-size: 1.5rem;
  font-weight: 700;
  text-transform: uppercase;
  margin-bottom: 10px;
}

.footer-right {
  margin-right: 10vw;
}
.footer-right > .footer-group > h5 {
  font-family: "Roboto";
  font-size: 1.5rem;
  font-weight: 700;
  margin-bottom: 5px;
}

.footer-group > p {
  font-family: "Roboto";
  font-size: 0.775rem;
  font-weight: 400;
  margin-top: 3px;
  margin-bottom: 20px;
  letter-spacing: 3px;
}

/* SERVICES PAGE */

.project-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: calc((100% / 3) - 500px);
  margin: auto;
  margin-bottom: 30px;
}

.textH1 {
  font-family: "Roboto";
  font-size: 3rem;
  text-transform: uppercase;
  font-weight: 700;
  margin-bottom: 37px;
  display: flex;
  justify-content: center;
}

.project-container img {
  border-radius: 20px;
}

/* COMMENTS SECTION */

.comments-container {
  background-color: var(--amarelo);
  width: 100%;
  height: 536px;
  margin-top: 50px;
}

.comments-container > .textH1 {
  padding-top: 40px;
  padding-bottom: 60px;
}

.wrapper {
  max-width: 1400px;
  width: 100%;
  justify-content: center;
  align-items: center;
  margin: auto;
  display: relative;
}

.wrapper .carousel li span {
  color: black;
  font-size: 1.225rem;
  font-family: "Roboto";
  font-weight: 600;
  margin-bottom: 120px;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.wrapper .carousel li {
  justify-content: center;
  align-items: center;
  display: flex;
  flex-direction: column;
}

.wrapper .carousel li h2 {
  color: black;
  font-family: "Roboto";
  font-size: 2rem;
  font-weight: 800;
  margin: auto;
  margin-bottom: 50px;
  margin-top: 100px;
}

.wrapper .carousel {
  display: grid;
  grid-auto-flow: column;
  grid-auto-columns: calc((100% / 3) + 12px);
  gap: 2.5rem;

  overflow-y: hidden;
  overflow-x: hidden;
  overscroll-behavior-inline: contain;
}

.wrapper .carousel {
  cursor: grab;
  user-select: none;
  align-items: center;
}

.card .img img {
  width: 70px;
  height: 70px;
  object-fit: cover;
  border-radius: 50%;
  position: absolute;
  top: 10px;
  left: 10px;
  z-index: 2;
}

.carousel .card {
  position: relative;
  list-style: none;
  background: white;
  width: 400px;
  height: 260px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding: 20px;
  border-radius: 20px;
  box-shadow: inset 2px 2px 16px #000000;
}

@media screen and (max-width: 1200px) {
  .wrapper .carousel {
    grid-auto-columns: calc((100% / 2) - 20px);
  }
}

@media screen and (max-width: 600px) {
  .wrapper .carousel {
    grid-auto-columns: 100%;
  }
}

/*  CERTIFICATES */

.certificates-container {
  display: flex;
  margin-top: 70px;
  margin-left: auto;
  margin-right: auto;
  justify-content: space-around;
  max-width: 1600px;
  gap: 20px;
}

.certificates-container .textCertificates {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-size: 1.75rem;
  width: 50%;
}

.specialized {
  padding-left: 22%;
  padding-right: 15%;
  background-color: var(--amarelo);
}

/* ABOUT US */

.about-container {
  display: flex;
  align-items: center;
  margin-top: 300px;
  width: 100%;
}

.about-container img {
  margin: auto;
  margin-top: 100px;
  align-items: center;
  justify-content: center;
}

.about-container .textAbout {
  display: flex;
  flex-direction: column;
  width: 60%;
  margin: auto;
  align-items: start;
  justify-content: center;
}

.aboutH1 {
  font-size: 70px;
  margin-bottom: 20px;
}

.about-container .textAbout p {
  letter-spacing: 4px;
  font-size: 30px;
}

/* OUR TEAM */

.teamH1 {
  text-transform: uppercase;
  font-size: 48px;
  align-items: center;
  justify-content: center;
  text-align: center;
  margin-left: -100px;
}

.team-container {
  margin-top: 150px;
}

.team-container .team {
  display: flex;
  margin-top: 100px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 90px;
  max-width: 1200px;
  justify-content: space-around;
  align-items: center;
  gap: 300px;
}

.team-container .team img {
  width: 412px;
  height: 652px;
}

.team-container .team .firstimg {
  display: flex;
  flex-direction: column;
}

.profession-team {
  margin: 20px;
  font-size: 28px;
  font-weight: 600;
}

.name-team {
  font-size: 45px;
  font-weight: 700;
  text-align: center;
}

.text-team {
  display: flex;
  flex-direction: column;
  margin-top: 15px;
}
